[Unit]
Description=Git auto-pull at startup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=$USER
Group=$USER
ExecStart=/home/$USER/kepler/git-update.sh
WorkingDirectory=/home/$USER/kepler
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target