[Unit]
Description=Git auto-pull at startup
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=oneshot
User=$USER
Group=$USER
WorkingDirectory=/home/$USER/kepler
ExecStart=/home/$USER/kepler/git-update.sh

Restart=on-failure
RestartSec=15

StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target